<!doctype html>
{% extends 'base.html' %}
{% load static widget_tweaks %}
{% block content %}
<div class="my-tasks-container">
    <div class="row mt-4 p-4">
        <h1>Tasks</h1>
        <div>
            <a href="{% url 'new_task' %}" class="btn btn-light">
                <i class="fa-light fa-plus"></i>&nbsp Add Task
            </a>
        </div>
        {% for task in tasks %}
        <div class="col-md-3">
            <div class="card mt-4">
                <div class="card-header">{{ task.title }}</div>
                <div class="card-body">
                    <p><strong>Desctription:</strong> {{ task.description }}</p>
                    <p><strong>Due Date:</strong> {{ task.due_date }}</p>
                </div>
                <div class="card-footer">
                {% if task.due_soon %}
                <div class="btn btn-danger">
                    <i class="fa-solid fa-thumbs-down"></i>
                </div>
                {% else %}
                <div class="btn btn-success">
                    <i class="fa-solid fa-thumbs-up"></i>
                </div>
                {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}